.BandList .form {
  padding: 0 1.5em;
  text-align: center;
}

.BandList .form p {
  margin: 0;
  padding: 0 0 0.5em;
  font-size: 1.25em;
  font-weight: bold;
}

.BandList .form input {
  margin: 0;
  padding: 0.5em;
}

.BandList .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.5em;
  max-width: 80%;
  margin: auto;
}